
<!-- company contact page -->
  <div class="container container-body">
    <div class="companyHeading">
        <ul class="pull-middle">
          <li><h3> Microsoft<!--{{CName}}--> </h3></li>
          <li><h3> Company Contact <!--{{Contact}}--> </h3></li>
        </ul>
      </div>
      
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th>Company</th>
              <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td><!--{{Contact}}--></td>
              <td><!--{{CName}}--></td>
              <td><!--{{Position}}--></td>
          </tr>
        </tbody>
        <thead>
          <tr>
              <th>Email</th>
              <th>Address</th>
              <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td><!--{{Email}}--></td>
              <td><!--{{Address}}--></td>
              <td><!--{{Phone_Num}}--></td>
          </tr>
        </tbody>
      </table>
     </div>         
    </div>
  </div>

	