<!-- company profile page -->
 <div class="container container-body">
	<h2><center>Editing {{companydata.cname}}'s Profile</center></h2>
	<form class="form-horizontal" role="form" >
		<div class="form-group">
			<label class="control-label col-sm-2" >Username:</label>
			<div class="col-sm-8">
			  <input type="text" class="form-control" id="cname" placeholder="Company User" aria-label="company Username input" ng-model="companydata.cuser" readonly><span class="error"></span>
			</div>
		</div>
				<div class="form-group">
			<label class="control-label col-sm-2" >Name:</label>
			<div class="col-sm-8">
			  <input type="text" class="form-control" id="cname" placeholder="Company Name" aria-label="company Name input" ng-model="companydata.cname" readonly><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Password:</label>
			<div class="col-sm-8">
			  <input type="password" class="form-control" id="cname" placeholder="Company Password" aria-label="company Password input" ng-model="companydata.cpass"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Address:</label>
			<div class="col-sm-8">          
			  <input type="text" class="form-control" id="address" placeholder="Company Address"  aria-label=" company address input field" ng-model="companydata.caddress"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Email:</label>
			<div class="col-sm-8">          
			  <input type="text" class="form-control" id="email"  placeholder="Company Contact Email"  aria-label="company contact email input field" ng-model="companydata.cmail"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Website:</label>
			<div class="col-sm-8">          
				<input type="URL" class="form-control" id="website" placeholder="Company Website" aria-label="company website input field" ng-model="companydata.cwebsite"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Contact Name:</label>
			<div class="col-sm-8">          
			  <input type="text" class="form-control" id="contact" placeholder="Company Contact"  aria-label="company contact input field" ng-model="companydata.contactname"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Contact Position:</label>
			<div class="col-sm-8">          
			  <input type="text" class="form-control" id="position" placeholder="Contact's Position"  aria-label="contact's position input field" ng-model="companydata.contactposition"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Phone:</label>
			<div class="col-sm-8">          
				<input type="text" class="form-control" id="phoneNum" placeholder="Phone Number" aria-label="Phone number input field" ng-model="companydata.cphone"><span class="error"></span>
			</div>
		</div>
		<div class="form-group">
	      <label class="control-label col-sm-2" >Company Description:</label>
          <div class="col-sm-8">
			<textarea name="aboutCompany" class="form-control" id="aboutCompany"  placeholder="About Company" aria-label="about company input field" ng-model="companydata.cdesc"></textarea>
          </div>
		</div>
		<div class="">
          <center><button type="submit" class="btn btn-primary" aria-label="save changes button" ng-click="modCompany()">Save Changes</button></center>
		</div>
    </form>
</div>



      







